<!DOCTYPE html>
<html lang="en">

<head>
    <!-- important meta tage-->

    <meta charset="utf-8">
    <meta http-equiv="X-UA-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1.0 ,user-scalable=no">
    <!--Title-->
    <title>
        Contact Us
    </title>

    <!--fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans
         :wght@300;400;600;700&display=swap" rel="stylesheet">
    <!-- Google fonts-->
    <!-- Fontawesome-->
    <link rel="stylesheet" href="~/css/font-awesome/css/font-awesome.min.css">


    <!-- bootstrap css-->
    <link rel="stylesheet" href="~/css/bootstrap/bootstrap.min.css">

    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/responsive.css">
</head>


<body>

    <section id="contact-us">

        <div class="container">

            <div class="row">

                <div class="nav">

                    <img src="~/image/pre-login/logo.png">



                    <ul>
                        <li><a href="#">Search Notes</a></li>
                        <li><a href="#">Sell Your Notes</a></li>
                        <li><a href="#">Buyer Requests</a></li>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#"><img src="~/image/Add-notes/user-img.png"></a></li>
                        <li><a href="#"><button class="btn-user-logout" type="submit">Logout</button></a></li>
                    </ul>

                </div>
            </div>

        </div>
        @RenderBody();



        <div class="container">
            <div class="row">

                <div class="user-end-01">
                    <p>Copyright <i class="fa fa-copyright"></i> All rights reserved</p>

                    <ul>
                        <li>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </section>
</body>

</html>